pillow
protobuf
sentencepiece==0.1.99
torch==2.0.1
git+https://github.com/huggingface/transformers.git@88d960937c81a32bfb63356a2e8ecf7999619681
accelerate==0.21.0
bitsandbytes==0.41.0
deepspeed==0.9.5
einops-exts==0.0.4
einops==0.6.1
httpx==0.24.0
markdown2==2.4.10
numpy==1.26.0
peft==0.4.0
scikit-learn==1.2.2
shortuuid==1.0.11
timm==0.6.13
tokenizers==0.13.3
wandb==0.15.12
wavedrom==2.0.3.post3
Pygments==2.16.1